.proyectos_container {
  background-color: #ffeedb;
  width: 100%;
  position: relative;
  padding-left: 2%;
  padding-right: 2%;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
}

.titulo_proyectos {
  color: #ba3b46;
  font-family: 'Computer-says-no', sans-serif;
}

@media (max-width: 576px) {
  .bubble {
    max-width: 140px;
    min-width: 160px;
    height: auto;
    aspect-ratio: 1 / 1;
  }
  .proyectos_container {
    background-color: #ffeedb;
    width: 100%;
    position: relative;
    padding-left: 2%;
    padding-right: 2%;
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
  }
}
